/* Asterisk wildcard selector to  override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */
header {
    background-color: #c6427f ;
}

/* Main */
main {
    background-color: #2594d0;
}

/* Footer */
footer {
    background-color: #ff7c54;
}